# EDS220 Assignment Week 1: Panda Series and Data Frames

From this [link](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-2-series-dataframes.html)

In [4]:
#importing libraries
import pandas as pd
import numpy as np

# Core Object: Series 

A **series** is a one-dimensional array of indexed data

In [5]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.49105361  1.58184133 -0.27201867 -0.64089814]

<class 'pandas.core.series.Series'>
0   -0.491054
1    1.581841
2   -0.272019
3   -0.640898
dtype: float64

A pandas series has an index as part of the data structure, whereas Numpy does not (even though Numpy is still indexable).

### Creating a Pandas Series

Basic method to create a pandas series: 

`s = pd.Series(data, index=index)`

The "data" can be: 
- a list or NumPy array
- a dictionary
- a single number
- boolean
- string

Index is optional, but the default is to make the index to 0? Because its python?

In [7]:
# Creating a Panda series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [8]:
# Creating a Panda series from a list with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [9]:
# Creating Pandas series from dictionary 

d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [10]:
# Creating a Pandas.series from a single value 
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

### Simple Operations/Arithmetic 

It works in series, ergo it works with most numpy

In [11]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

Creating a new `pandas.Series` with `True/False` values

A simple condition that will be useful when getting data from data frames

In [13]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

### Identifying Missing Values

Dealing with Nulls and Nas by using float value `numpy.nan` 
- Nan stands for "not a number"

In [14]:
# Making a series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [16]:
# Checking if the series has NAs, it will say True if it has Nas
s.hasnans

True

In [17]:
# Figuring out which element has the NAs

s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool